In [1]:
# dependencies
import pandas as pd

# import drought data csv
droughtFile = "./drought_data.csv"

# read the file and store in a dataframe
droughtData = pd.read_csv(droughtFile)
droughtData.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20211130,6001,Alameda County,CA,0.0,0.0,0.0,0.0,14.95,85.05,2021-11-30,2021-12-06,2
1,20211123,6001,Alameda County,CA,0.0,0.0,0.0,0.0,14.95,85.05,2021-11-23,2021-11-29,2
2,20211116,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.90,99.10,2021-11-16,2021-11-22,2
3,20211109,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.90,99.10,2021-11-09,2021-11-15,2
4,20211102,6001,Alameda County,CA,0.0,0.0,0.0,0.0,0.90,99.10,2021-11-02,2021-11-08,2

In [2]:
# see all columns
droughtData.columns

Index(['MapDate', 'FIPS', 'County', 'State', 'None', 'D0', 'D1', 'D2', 'D3',
       'D4', 'ValidStart', 'ValidEnd', 'StatisticFormatID'],
      dtype='object')

In [3]:
# check data types
droughtData.dtypes

MapDate                int64
FIPS                   int64
County                object
State                 object
None                 float64
D0                   float64
D1                   float64
D2                   float64
D3                   float64
D4                   float64
ValidStart            object
ValidEnd              object
StatisticFormatID      int64
dtype: object

In [4]:
# remove extraneous columns
droughtData = droughtData[["ValidStart","County","None","D0","D1","D2",
                          "D3","D4"]]

# rename columns
droughtData = droughtData.rename(columns={"ValidStart":"Date"})
droughtData

             Date          County   None   D0   D1   D2     D3     D4
0      2021-11-30  Alameda County    0.0  0.0  0.0  0.0  14.95  85.05
1      2021-11-23  Alameda County    0.0  0.0  0.0  0.0  14.95  85.05
2      2021-11-16  Alameda County    0.0  0.0  0.0  0.0   0.90  99.10
3      2021-11-09  Alameda County    0.0  0.0  0.0  0.0   0.90  99.10
4      2021-11-02  Alameda County    0.0  0.0  0.0  0.0   0.90  99.10
...           ...             ...    ...  ...  ...  ...    ...    ...
27023  2013-01-29     Yuba County  100.0  0.0  0.0  0.0   0.00   0.00
27024  2013-01-22     Yuba County  100.0  0.0  0.0  0.0   0.00   0.00
27025  2013-01-15     Yuba County  100.0  0.0  0.0  0.0   0.00   0.00
27026  2013-01-08     Yuba County  100.0  0.0  0.0  0.0   0.00   0.00
27027  2013-01-01     Yuba County  100.0  0.0  0.0  0.0   0.00   0.00

[27028 rows x 8 columns]

In [5]:
# remove "county" from county column to be consistent with other datasets
droughtData["County"] = droughtData["County"].astype(str)
droughtData["County"] = droughtData["County"].str.replace(" County","")

In [6]:
# edit the date column to match the format of the other datasets
droughtData["Date"] = pd.to_datetime(droughtData["Date"])
droughtData["Date"] = droughtData["Date"].apply(lambda x: x.strftime('%Y-%m'))

In [7]:
# drop nulls and reset the index
droughtData = droughtData.dropna()
droughtData.reset_index(inplace=True,drop=True)
droughtData

          Date   County   None   D0   D1   D2     D3     D4
0      2021-11  Alameda    0.0  0.0  0.0  0.0  14.95  85.05
1      2021-11  Alameda    0.0  0.0  0.0  0.0  14.95  85.05
2      2021-11  Alameda    0.0  0.0  0.0  0.0   0.90  99.10
3      2021-11  Alameda    0.0  0.0  0.0  0.0   0.90  99.10
4      2021-11  Alameda    0.0  0.0  0.0  0.0   0.90  99.10
...        ...      ...    ...  ...  ...  ...    ...    ...
27023  2013-01     Yuba  100.0  0.0  0.0  0.0   0.00   0.00
27024  2013-01     Yuba  100.0  0.0  0.0  0.0   0.00   0.00
27025  2013-01     Yuba  100.0  0.0  0.0  0.0   0.00   0.00
27026  2013-01     Yuba  100.0  0.0  0.0  0.0   0.00   0.00
27027  2013-01     Yuba  100.0  0.0  0.0  0.0   0.00   0.00

[27028 rows x 8 columns]

In [8]:
# export as csv
droughtData.to_csv("./clean/drought_data_clean.csv",index=False)